body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	font-size:large;
}
hr {
	border-top: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
}
h1 {
	color: rgb(77,140,173);
 	text-align: center;
 	font-size:48px;
}
h2 {
	color: rgb(77,140,173);
 	font-size:x-large;
 	padding-top: 1em;
}
p {
	color: rgb(38,38,38);
}
.datestamp {
	color:rgb(153,153,153);
	font-size:x-small;
}
.maintext {
	max-width: 640px;
	margin: auto;
	padding: 1em;
	line-height: 150%;
	background-color: white;
	font-size:large;
}
.alert {
	color: tomato;
}
img {
	max-width:640px;
	height: auto;
}
.banner {
	border:1px solid;
}
.headshot {
	max-width:160px;
	height:auto;
	border:0px white;
	float:right;
}
.column {
	float: left;
	width: 33%;
 	text-align: center;
	font-size:large;
	line-height: 200%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

td {
	vertical-align: baseline;
}