body {
	background-color: rgb(217,217,217);
	font-size: large; 
}
h1 {
	color: rgb(77,140,173);
 	text-align: center;
}
p {
	color: rgb(38,38,38);
}
.datestamp {
	color:rgb(153,153,153);
	font-size:x-small;
}
.navbar {
 	text-align: center;
}